/*
    Styling and variables for the colours used within the site.

    @author Reuben Bradley <reuben.m.bradley@gmail.com>
*/

$background: (
    primary: #ffffff,
    secondary: #cccccc,
    dark: #000000
);

$text: (
    primary: #888888,
    secondary: #444444,
    light: #eeeeee
);

$highlight: (
    orange: #ffb640,
    blue: #4089ff,
    green: #12ff3e
);
